.app-nav-theme {
  color: $secondary-text-color;
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 0.5rem;

  > ul {
    display: inline;
    list-style: none;
    padding: 0;
    > li {
      display: inline;
      > span {
        color: $secondary-text-color;
        font-weight: bold;
      }
    }
  }

  &-toggle {
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
    @extend %thredded--link;

    padding: 0.5rem;

    @include thredded-media-mobile {
      padding: 0.25rem;
    }
  }

  .app-nav-icon {
    display: block;
    svg {
      fill: currentColor;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .app-nav-text, .app-current {
    display: none;
  }
}
