<header role="banner" class="app-header">
  <a class="app-nav-logo" href="/"><%= t('brand.name') %></a>
  <%= render 'shared/header/theme_selector' %>
  <%= render 'shared/header/nav_auth' %>
</header>
