@import "app/layout";
@import "app/typography";
@import "app/forms";
@import "app/header";
@import "app/flash-messages";

.thredded--post--avatar{
  border: 0.5em solid $background-color;
}

.thredded--form-list,
.form-inputs{
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea{
    background: white !important;
  }
}

@media (max-width: 34rem){
  .app-nav-auth{
    font-size: 1em;
  }
}

.thredded--post--content{
  font-size: $base-font-size;
}

.thredded--messageboard--title.read{
  font-weight: normal;
}

.thredded--post--content--spoiler{
  display: block;
  padding: 1em;
  margin: 1em 0;
  transition: color 0.1s;
  color: transparent;
  background: $spoiler-color;

  img{
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }

  a{
    &:link, &:hover, &:active, &:visited{
      color: transparent;
      pointer-events: none;
    }
  }

  &:hover{
    color: transparent;
    background: $spoiler-color;
  }
  &.spoiler--show{
    color: $text-color;

    img{
      opacity: 1;
      pointer-events: auto;
    }

    a{
      color: $brand-primary;
      pointer-events: auto;
      &:hover{
        color: $text-color;
      }
    }
  }
}

.society--spoiler{
  display:block;
  background: $spoiler-color;
  position: relative;
  cursor: pointer;
  nav-index: 0;
  margin: 1rem 0;

  .society--spoiler-warning{
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    user-select: none;
  }

  .society--spoiler-content{
    display: block;
    padding: 1rem;
    visibility: hidden;
  }

  &:focus-within > .society--spoiler-warning{
    display: none;
  }
  &:focus-within > .society--spoiler-content{
    visibility: visible;
  }
}

.footer{
  text-align: center;
  color: $secondary-text-color;
}

ul.no-style{
  list-style: none;
  padding: 0;
  i.fab{
    width: 1.5rem;
  }
}

img{
  max-width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: $secondary-text-color;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    min-width: 100px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    transition: opacity 0.2s;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
