$brand-primary: #d48b50;
$text-color: #efebe9;
$secondary-text-color: rgba($text-color, 0.87);
$body-background-color: #212121;
$background-color: #353535;

$action-hover-color: #e69753;
$secondary-nav-color: $text-color;

$button-color: $text-color;
$button-background: #754c24;
$button-hover-background: lighten($button-background, 10%);

$badge-active-background: $brand-primary;
$light-gray: #565656;
$spoiler-background-color: #4b4b4b;

$thredded-onebox-favicon-properties: (
    'favicons/amazon.png': (filter: invert(100%) hue-rotate(175deg) brightness(150%)),
    'favicons/github.png': (filter: invert(100%)),
    'favicons/wikipedia.png': (filter: invert(100%)),
);

$thredded-code-selected-line-background: #541;
$thredded-form-border-color: #565656;

@import "variables";
