@import "variables";
@import "deps";
@import "app";

.app-nav-logo img{
  max-width: 100%;
}

img.site-icon{
  height: 1em;
}

.text-right{
  text-align: right;
}

.thredded--post--content--spoiler{
  display: block;
  padding: 1em;
  margin: 1em 0;
}
